node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.cache
build
.vscode
.idea

# Cypress
cypress/videos
cypress/screenshots
cypress/downloads
cypress.env.json
cypress/results

# Test reports
coverage
.nyc_output
test-results
playwright-report
